
.career_container
{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.career_img img
{
    border:dashed;
    border-radius: 30%;
    margin-top: 200px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 30px;
}

span {
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
    opacity: 0;
    transition: all 1s;
    transform:rotate(1)
}